# Ignore MySQL socket file
ORS_Project4/mysql-data/mysql.sock

# Ignore other problematic files (if any)
ORS_Project4/.tern-project
ORS_Project4/mysql-data/auto.cnf
ORS_Project4/mysql-data/binlog.index
ORS_Project4/mysql-data/ib_buffer_pool
